<h1><%= @pokemon.name %></h1>

<dl>
	<dt>Pokémon Species Name</dt>
	<dd><%= @pokemon.name %></dd>
	<dt>National Dex #</dt>
	<dd><%= @pokemon.national_dex_no %></dd>
	<dt>Shiny Form</dt>
	<dd>
		<% if @pokemon.can_be_shiny? %>
			Shiny available
		<% else %>
			Shiny not officially available
		<% end %>
	</dd>
</dl>

<%= link_to "Edit", edit_pokemon_species_path(@pokemon), class: "btn btn-primary" %>
<%= link_to "Delete", pokemon_species_path(@pokemon), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete #{@pokemon.name}? This action cannot be undone."} %>
<%= link_to "Show All Pokémon", pokemon_species_index_path %>
